@use './skip-link';
@use './typography'as typo;
@use './colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

header.top {
    width: 100%;
    background-color: white;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 20px 0;
    margin: auto;

    h1 {
        color: colors.$primary-color;
        cursor: pointer;
    }

    ul {
        font-size: 16px;
        flex-basis: 60%;
        display: flex;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        transition: 1s;

        li {

            &:hover a {
                background-color: colors.$secondary-color;
                color: green;
            }

            a {
                border-radius: 6px;
                padding: 12px 18px;
                box-sizing: border-box;
                color: black;
            }
        }
    }
}

img {
    display: block;
}

.icon-toggler {
    background: transparent;
    border: 0;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    font-size: 22px;
}

.active {
    display: flex;
    opacity: 1;
}

.nav-active {
    height: 200px;
}

.jumbotron {
    width: 100%;
    height: 480px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../public/images/heros/hero-image_2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .caption-text {
        width: 60%;
        color: white;
        font-size: 30px;
    }
}

main {
    width: 100%;
    height: fit-content;
    background-color: white;
    padding: 20px;

    header {
        width: 100%;
        text-align: center;
        background-color: transparent;
        margin-bottom: 40px;
    }
}

.wrapper {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 1px 9px rgba($color: #000000, $alpha: .2);
    height: 80%;
    background-color: colors.$secondary-color;
}

.list-restaurant {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.card {
    width: 30%;
    box-shadow: 0 1px 9px rgba($color: #000000, $alpha: .2);
    height: fit-content;
    overflow: hidden;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 20px;
}

.card-header {
    position: relative;

    .tag {
        position: absolute;
        display: block;
        background-color: colors.$primary-color;
        top: 10%;
        left: 0;
        border-radius: 0 2px 2px 0;
        padding: 6px;
    }

    img {
        width: 100%;
        height: 280px;
    }
}

.card-body {
    padding: 16px;

    p,
    h3 {
        margin-bottom: 16px;
    }

    .rating .fa-star {
        color: colors.$primary-color;
    }
}

.material {
    position: relative;
    margin-top: 40px;
    width: 100%;
    height: fit-content;
    background-color: colors.$primary-color;
    box-shadow: 0 1px 8px rgba($color: #000000, $alpha: .3);
    border-radius: 8px;
    padding: 20px;
    text-align: justify;

    h2 {
        text-align: center;
        margin-bottom: 40px;
    }

    blockquote {
        text-align: center;
        font-size: 24px;
        color: white;
        margin-top: 30px;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 60px;
    font-size: 12px;
}

@media (max-width: 920px) {
    nav {
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 76px;
        overflow: hidden;
        transition: 1s;
    }

    nav ul {
        opacity: 0;
        flex-direction: column;
        align-items: flex-start;
        transition: 1s;
    }

    nav ul li {
        margin-top: 16px;
    }

    nav .icon-toggler {
        display: block;
        cursor: pointer;
    }

    .jumbotron {
        .caption-text {
            width: 80%;
        }
    }

    .card {
        width: 48%;
    }
}

@media (max-width: 720px) {
    .card {
        width: 90%;
    }
}